@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-5">O site onde você encontra os principais descontos para estudantes</h1>
    <p>Crie sua conta e tenha acesso a descontos exclusivos!</a>.</p>
</div>
