@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center col-lg-8 m-auto">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/buser_banner.png" class="d-block w-100 border-bottom border-primary" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/lenovo_banner.png" class="d-block w-100 border-bottom border-primary" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/samsung_banner.png" class="d-block w-100 border-bottom border-primary" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/spotify_banner.png" class="d-block w-100 border-bottom border-primary" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-5">O site onde você encontra os principais descontos para estudante</h1>
    <p>Crie sua conta e tenha acesso a descontos exclusivos!</p>
</div>
